<!doctype html>

<head>
    <title>Ask the Unicorn</title>
    <link rel='shortcut icon' href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <h1>🦄 인공지능 이미지 분류 프로그램</h1>
    <div class='space_small'></div>
    <hr>
    <div class='container'>
        <h2>유니콘에게 무엇이든 물어보세요 !</h2>
        <div class='viewer'>
            <form method='post' action='/' enctype='multipart/form-data'>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class='img'>
                    <img src="{{ url_for('static', filename=image_file) }}" height='240' width='360'>
                </div>
                <div class='space_large'></div>
                <div class='space_large'></div>
                <div class='space_large'></div>
                <div class='space_large'></div>
                <div class='space_large'></div>
                <div class='space_small'></div>
                {% endif %}
                {% endwith %}
                <div class='label'>
                    <label for='file'>
                        이미지 업로드
                    </label>
                </div>
                <div class='upload'>
                    <input type='file' id='file' name='file' autocomplete='off' required>
                </div>
                <div class='space_large'></div>
                <div class='space_small'></div>
                <div class='input'>
                    <input type='submit' value='예  측'>
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class='space_small'></div>
                <hr>
                <div class='text'>
                    <label>
                        [ 유니콘의 예측 ]
                    </label>
                </div>
                <div class='space_small'></div>
                <div class='result'>
                    {{ messages[0] }}
                </div>
                <div class='time'>
                    {{ messages[1] }}
                </div>
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
</body>